/* Style général */

body {
    margin: auto;
    padding: 0px;
    font-family: "Raleway", sans-serif;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    overflow-x: hidden;
    width: 96%;
    max-width: 1400px;
}

a {
    text-decoration: none;
    color: black;
}
a:visited {
    text-decoration: none;
    color: inherit;
}

.h1 {
    font-family: "Raleway";
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 26px;
}

.h2 {
    margin-left: 25px;
    color: black;
    font-family: "Raleway";
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 26px;
}
.h3 {
    font-family: "Raleway";
    color: black;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
}

p {
    color: black;
}

/* Navigation / header */

.logo {
    height: 25px;
    margin: 25px;
}

/* Disposition de la navigation en haut à droite */

.nav {
    float: right;
    display: inline-flex;
}

.navText {
    padding: 40px;
    margin-top: 0px;
}

/* style des rankings font awesome et disposition en bas de chaque card*/
.ranking {
    position: absolute;
    bottom: 0;
}
.rankingOne {
    color: #0065fc;
}

.rankingZero {
    color: #f2f2f2;
}

/* Partie "Recherche" */
.searchAndFilter {
    margin-top: 0px;
}
.researchForm {
    display: flex;
    height: 50px;
}
.searchButton {
    border-style: none;
    border-radius: 0px 15px 15px 0px;
    background-color: #0065fc;
    color: white;
}

.searchText {
    border-style: solid;
    border-color: #f2f2f2;
    font-family: "Raleway";
    font-style: normal;
    font-weight: 700;
    font-size: 1em;
    line-height: 21px;
    text-align: left;
    padding-left: 20px;
}
.searchLocationDiv {
    width: 50px;
    text-align: center;
    background-color: #f2f2f2;
    border-radius: 15px 0px 0px 15px;
    border: none;
}
.textSearchButton {
    color: white;
    font-family: "Raleway";
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    align-items: center;
    width: 140px;
}

.searchLocationPin {
    text-align: center;
    color: black;
}

.searchButtonFA {
    display: none;
}

/* Filtres */
.filters {
    display: inline-flex;
    text-align: center;
    width: 900px;
    margin-top: 25px;

    display: flex;
    flex-direction: row;
}
.filterButton {
    margin-left: 25px;
    padding: 15px;
    background-color: white;
    border-style: solid;
    border-width: 3px;
    border-color: #f2f2f2;
    border-radius: 25px;
    font-weight: 700;
    min-width: 200px;
    width: auto;
}

.filterFA {
    color: #0065fc;
}

.infoFA {
    color: #0065fc;
    width: 25px;
    height: 21px;
    margin-right: 10px;
    border-style: solid;
    border-width: 1px;
    border-color: #f2f2f2;
    border-radius: 50%;
    display: flex;
    justify-content: space-around;
    padding-top: 4px;
}
.logementsDispoMobile {
    display: none;
}

.logementsDispoFlexbox {
    width: 100%;
    display: inline-flex;
}
/* Sections côte à côte */
.sideSections {
    display: inline-flex;
    width: 100%;
}
.sideCard {
    margin: 20px;
}
/* Hosting */

.hosting {
    width: 65%;
    height: 100%;
    background-color: #f2f2f2;
    border-radius: 20px;
    padding: 20px;

    min-width: 560px;
    margin-left: 0px;
}

.hostingPreview {
    width: 260px;
    height: 230px;
    position: relative;
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    margin: 1%;
    margin-bottom: 10px;
    font-family: "Raleway";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    box-shadow: -2px 17px 17px -2px #a8a8a8;
}

.hostingImg {
    width: 100%;
    height: 124px;
    border-radius: 20px 20px 0px 0px;
    object-fit: cover;
    object-position: center;
}
.hostingFlexBox {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.showMore {
    font-family: "Raleway";
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
}

/* Populaire */

.popular {
    background-color: #f2f2f2;
    width: 28%;
    height: 100%;

    min-width: 300px;
    margin-right: 0px;
    border-radius: 20px;
    padding: 15px;
    position: relative;
    display: flex;
    flex-direction: column;
    block-size: auto;
}
.popularFlexBox {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.fa-arrow-trend-up {
    color: #0065fc;
    position: absolute;
    right: 30px;
    top: 30px;
    font-size: x-large;
}
.popularImg {
    width: 100px;
    min-width: auto;
    height: 145px;
    object-position: center;
    border-radius: 20px 0px 0px 20px;
    object-fit: cover;
}
.popularPreview {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    font-family: "Raleway";
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
    box-shadow: -2px 17px 17px -2px #a8a8a8;

    flex-wrap: wrap;
}

.clickCardPopular {
    display: flex;
}
.popularTexts {
    margin-left: 10px;

    position: relative;
}

/* Activités */
.activitiesImg {
    width: 100%;
    height: 420px;
    object-position: center;
    border-radius: 20px 20px 0px 0px;
    object-fit: cover;
}
.activitiesFlexBox {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
}
.activitiesPreview {
    background-color: white;
    border-radius: 30px;
}
.clickCardActivities {
    border-radius: 20px 20px 20px 20px;
    height: 470px;
    box-shadow: -2px 17px 17px -2px #f2f2f2;
    padding-bottom: 15px;
    text-align: left;
    width: 20%;
}

.activitiesTitle {
    margin-left: 20px;
    font-family: "Raleway";
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
}

/* Footer */
.footerClass {
    background-color: #f2f2f2;
    display: inline-flex;
    justify-content: space-evenly;
    width: 100%;
    margin-top: 40px;
    margin-bottom: 0px;
    height: 225px;
}
.footerList {
    list-style: none;
    text-align: left;
    height: 180px;
    width: 25%;
}
.listItem {
    margin-top: 20px;
}
