@media screen and (max-width: 991px) {
    * {
        box-sizing: content-box;
    }

    /* (en cas de passage du mode phone au mode tablette) */
    .searchButtonFA {
        display: none;
    }

    .filters {
        width: 100%;
    }
    .filterButton {
        margin: auto;
        width: auto;
        min-width: 0px;
    }

    .sideSections {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
    }
    .hosting {
        width: 100%;
        min-height: 400px;
        height: 60%;

        margin-right: 0px;
    }

    .popular {
        width: 100%;
        height: 30%;
        min-height: 280px;
    }
    .popularFlexBox {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }
    .popular {
        margin-left: 0px;
    }
    .popularDeckCards {
        flex-direction: row;
    }
    .popularPreview {
        width: 30%;
        margin: auto;
    }
    .clickCardActivities {
        height: 280px;
    }
    .activitiesImg {
        height: 220px;
    }
    .activitiesTitle {
        margin: 10px;
    }
}
